version: 2.1

orbs:
  go: circleci/go@1.11

env: &env
  environment:
    GO111MODULE: auto
    GRUNTWORK_INSTALLER_VERSION: v0.0.40
    MODULE_CI_VERSION: v0.58.1
    GOLANG_VERSION: 1.25.5

defaults: &defaults
  docker:
    - image: 087285199408.dkr.ecr.us-east-1.amazonaws.com/circle-ci-test-image-base:go1.24.3-tf1.5-tg58.8-pck1.8-ci58.2
  <<: *env

install_gruntwork_utils: &install_gruntwork_utils
  name: install gruntwork utils
  command: |
    curl -Ls https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/master/bootstrap-gruntwork-installer.sh | bash /dev/stdin --version "${GRUNTWORK_INSTALLER_VERSION}"
    gruntwork-install --module-name "gruntwork-module-circleci-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
    gruntwork-install --module-name "git-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
    configure-environment-for-gruntwork-module \
      --mise-version "NONE" \
      --terraform-version "NONE" \
      --terragrunt-version "NONE" \
      --packer-version "NONE" \
      --go-version ${GOLANG_VERSION}
#----------------------------------------------------------------------------------------------------------------------
# BUILD JOBS
#----------------------------------------------------------------------------------------------------------------------
jobs:
  build:
    resource_class: xlarge
    <<: *defaults
    steps:
      - checkout
      - run:
          <<: *install_gruntwork_utils
      - run: |
          go mod tidy
          build-go-binaries --app-name terragrunt-iac-engine-opentofu --dest-path bin --ld-flags "-X github.com/gruntwork-io/go-commons/version.Version=$CIRCLE_TAG -extldflags '-static'"
      - persist_to_workspace:
          root: .
          paths: [bin]
      - store_artifacts:
          path: bin
  release:
    <<: *env
    macos:
      xcode: 15.3.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - attach_workspace:
          at: .
      - go/install:
          version: "1.21.1"
      - run:
          name: Install sign-binary-helpers
          command: |
            curl -Ls "https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/${GRUNTWORK_INSTALLER_VERSION}/bootstrap-gruntwork-installer.sh" | bash /dev/stdin --version "${GRUNTWORK_INSTALLER_VERSION}"
            gruntwork-install --module-name "gruntwork-module-circleci-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
            gruntwork-install --module-name "sign-binary-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
            gruntwork-install --module-name "github-release-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
      - run:
          name: Compile and sign the binaries
          command: |
            export AC_PASSWORD=${MACOS_AC_PASSWORD}
            export AC_PROVIDER=${MACOS_AC_PROVIDER}

            sign-binary --os mac --install-macos-sign-dependencies .gon_amd64.hcl
            sign-binary --os mac .gon_arm64.hcl
            echo "Done signing the binary"
            mkdir -p bin

            # Replace the files in bin. These are the same file names generated from .gon_amd64.hcl and .gon_arm64.hcl
            unzip terragrunt-iac-engine-opentofu_amd64.zip
            mv terragrunt-iac-engine-opentofu_darwin_amd64 bin/

            unzip terragrunt-iac-engine-opentofu_arm64.zip
            mv terragrunt-iac-engine-opentofu_darwin_arm64 bin/
      - run:
          name: Install required packages
          command: |
            brew install coreutils gpg gh
            # setting sign key
            echo "${GW_ENGINE_GPG_KEY}" | base64 --decode > privatekey.asc
            echo "${GW_ENGINE_GPG_KEY_PW}" | gpg --batch --yes --import privatekey.asc
            KEY_ID=$(gpg --list-keys --with-colons | awk -F: '/^pub/{print $5}')
            echo -e "trust\n5\ny\n" | gpg --command-fd 0 --edit-key $KEY_ID trust
            mkdir -p ~/.gnupg
            echo "default-key $KEY_ID" >> ~/.gnupg/gpg.conf
      - run:
          name: Package release files
          command: |
            export RC_VERSION="${CIRCLE_TAG}"
            export VERSION=${RC_VERSION%-rc*}
            mkdir -p release
            sign-files --source-dir $PWD/bin --out-dir $PWD/release --name terragrunt-iac-engine-opentofu --version ${VERSION}
            create-release --repo-owner gruntwork-io --repo-name terragrunt-engine-opentofu --version ${VERSION} --rc-version ${RC_VERSION} --release-dir $PWD/release
      - persist_to_workspace:
          root: .
          paths: [release]
      - store_artifacts:
          path: release
#----------------------------------------------------------------------------------------------------------------------
# WORKFLOWS
#----------------------------------------------------------------------------------------------------------------------
workflows:
  version: 2
  release:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
      - release:
          requires:
            - build
          filters:
            tags:
              only: /^.*-rc.*$/
            branches:
              ignore: /.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GCP__automated-tests
            - GITHUB__PAT__gruntwork-ci
            - APPLE__OSX__code-signing
            - TERRAGRUNT_ENGINE__circle-ci
